<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="cryptoments">
		<title>Cryptoments</title>
		<style>
			.moneda {
				font-family: "Arial";
				font-size: 15px;
			}
			.tit1 {
				color: #808080;
				font-family: "Great Vibes", cursive;
				font-size: 35px;
				font-weight: normal;
				margin-bottom: 0;
				margin-top: 40px;
				text-align: center;
				text-shadow: 0 1px 1px #fff;
			}
			#suscribirseNoRegistrado{
				opacity:0.9;
			}
			
			
		</style>


		<!-- Bootstrap core CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    	<link rel="stylesheet" href="estilo.css">

	<!-- Custom styles for this template -->

	</head>

	<body>
		<header>
			<div class="navbar navbar-dark bg-dark">
				<div class="container">
					<h1 class="navbar-brand" onclick='location.href="/index"' id="tituloHeader">CRYPTOMENTS NFT</h1>
					  <div>
							<button class="btn btn-danger" onclick='location.href="/login"' type="button">Login</button>
							<button class="btn btn-info" onclick='location.href="/registration"' type="button">Registro</button>
							<button class="btn btn-warning" onclick='location.href="/principal"' type="button">Principal</button>
							<button class="btn btn-success" onclick='location.href="/colecciones"' type="button">Colecciones</button>
						</div>			
				</div>
			</div>
		</header>
		<div class="container">
		<main role="main">
			<section class="jumbotron text-center  bg-light">
				<div class="panel-heading tit1" id="tit1">
					<p id="">
						Colección
						<b>Cryparis</b>
						by Cryptoments &copy;</p>

					<div id="cryparisContainer" class="container" style="position: relative;">
						{# Div que se muestra al pasar el ratón por encima de alguna colección #}
						{# <a style="text-decoration:none" href="/coleccion/cryparisByN">#}<div id="info" class="container bg-secondary" style="opacity:0;height:374px; position: absolute;z-index:3;"> 
							<div class="row mt-3 mb-3">
								<p class="text-center text-dark" style="font-family:calibri;">Cryparis</p>
							</div>
							<div class="row text-dark mt-3">
								<p style="font-family:calibri; font-size:17px; text-shadow:none;">Colección basada en monumentos de París. Esta colección cuenta con 3 modelos de NFTs diferentes. Son los únicos NFTs de Cryptoments lanzados en Blanco y Negro, para así otorgarles una mayor sensación de antigüedad.
									<br>
									"BitEiffel" NFT basado en la Torre Eiffel sólo habrá disponibles un total de 5 unidades.
									<br>
									"Arco del Bitcoin" NFT basado en el Arco del Triunfo, sólo habrá disponibles un total de 5 unidades
									<br>
									"Catedral Cryptoments" NFT basado en la catedral de Notre Dame, sólo habrá disponibles un total de 5 unidades. "</p>
									<div class="row">
										<div class="col-4">
											<button class="btn btn-primary d-inline" onclick='location.href="/coleccion/cryparisByN"'>Ver colección</button>
										</div>
										<div class="col-4">
											<p style="font-family:calibri;" class="mt-3 d-inline">
											20 de Junio de 2022</p>
										</div>
										{% if app.session.get('username') != '' %}
										<div class="col-4">
											<button id="suscribirse" class="btn btn-primary d-inline" >Suscribirse</button>
										</div>
										{% else %}
										<div class="col-4">
											<button id="suscribirseNoRegistrado" class="btn btn-primary d-inline suscribirseNoRegistrado"  >Suscribirse</button>
										</div>
										{% endif %}
									</div>
							<section style="font-size:20px;">
								<p style="border:1px solid; display:inline-block;background-color:white;">
									<span id="days"></span> días / <span id="hours"></span> horas / <span id="minutes"></span> minutos / <span id="seconds"></span> segundos
								</p>
							</section> 
						</div>
						{# </a>  #}
					</div>
						<div class="row mt-2" id="cryparis">

							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('nftBiteiffel.jpg', 'nftBiteiffel')}}" alt="NFT #02">
									<div
										class="card-body">
										{# <p class="card-text">BitEiffel Tower <br>Este es el primer NFT de la colección Cryparis. #01 Colection Cryparis by Cryptoments.</p> #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('nftArcoDelBitcoinByN.jpg', 'nftBiteiffel')}}" alt="NFT #02">
									<div
										class="card-body">
										{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 ">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('catedralCryptoments.jpg', 'nftBiteiffel')}}" alt="NFT #03">
									<div
										class="card-body">
										{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>/ #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# Segunda fila de colecciones #}
			<section class="jumbotron text-center ">
				<div class="panel-heading tit1" id="tit1">
					<p id="">
						Colección
						<b>Crymadrid</b>
						by Cryptoments &copy;</p>

					<div id="cryparisContainer2" class="container" style="position: relative;">
						{# Div que se muestra al pasar el ratón por encima de alguna colección #}
						{# <a style="text-decoration:none" href="/coleccion/crymadrid"> #}
						<div id="info2" class="container bg-secondary" style="opacity:0;height:374px; position: absolute;z-index:3;">
							<div class="row mt-3 mb-3">
								<p class="text-center text-dark" style="font-family:calibri;">Crymadrid</p>
							</div>
							<div class="row text-dark mt-3">
								<p style="font-family:calibri; font-size:20px; text-shadow:none;">Colección basada en monumentos de Madrid. Esta colección cuenta con 3 modelos de NFTs diferentes
									<br>
									"BitEiffel" NFT basado en la Torre Eiffel sólo habrá disponibles un total de 5 unidades.
									<br>
									"Arco del Bitcoin" NFT basado en el Arco del Triunfo, sólo habrá disponibles un total de 5 unidades
									<br>
									"Catedral Cryptoments" NFT basado en la catedral de Notre Dame, sólo habrá disponibles un total de 5 unidades. "</p>
										<div class="row">
										<div class="col-4">
											<button class="btn btn-primary d-inline" onclick='location.href="/coleccion/crymadrid"'>Ver colección</button>
										</div>
										<div class="col-4">
											<p style="font-family:calibri;" class="mt-3 d-inline">
											20 de Junio de 2022</p>
										</div>
										{% if app.session.get('username') != '' %}
										<div class="col-4">
											<button id="suscribirse2" class="btn btn-primary d-inline" >Suscribirse</button>
										</div>
										{% else %}
										<div class="col-4">
											<button id="suscribirseNoRegistrado2" class="btn btn-primary d-inline suscribirseNoRegistrado"  >Suscribirse</button>
										</div>
										{% endif %}
									</div>
							</div>
						</div>
						{# </a> #}
						<div class="row mt-2" id="cryparis2">
							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('nftBiteiffel.jpg', 'nftBiteiffel')}}" alt="NFT #02">
									<div
										class="card-body">
										{# <p class="card-text">BitEiffel Tower <br>Este es el primer NFT de la colección Cryparis. #01 Colection Cryparis by Cryptoments.</p> #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
											{# 	<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('nftArcoDelBitcoinByN.jpg', 'nftBiteiffel')}}" alt="NFT #02">
									<div
										class="card-body">
										{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 ">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('catedralCryptoments.jpg', 'nftBiteiffel')}}" alt="NFT #03">
									<div
										class="card-body">
										{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>/ #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="jumbotron text-center  bg-light">
				<div class="panel-heading tit1" id="tit1">
					<p id="">
						Colección
						<b>Cryroma</b>
						by Cryptoments &copy;</p>

					<div id="cryparisContainer3" class="container" style="position: relative;">
						{# Div que se muestra al pasar el ratón por encima de alguna colección #}
						{# <a style="text-decoration:none" href="/coleccion/cryroma"> #}
							<div id="info3" class="container bg-secondary" style="opacity:0;height:374px; position: absolute;z-index:3;">
								<div class="row mt-3 mb-3">
									<p class="text-center text-dark" style="font-family:calibri;">Cryroma</p>
								</div>
								<div class="row text-dark mt-3">
									<p style="font-family:calibri; font-size:20px; text-shadow:none;">Colección basada en monumentos de Roma. Esta colección cuenta con 3 modelos de NFTs diferentes
										<br>
										"BitEiffel" NFT basado en la Torre Eiffel sólo habrá disponibles un total de 5 unidades.
										<br>
										"Arco del Bitcoin" NFT basado en el Arco del Triunfo, sólo habrá disponibles un total de 5 unidades
										<br>
										"Catedral Cryptoments" NFT basado en la catedral de Notre Dame, sólo habrá disponibles un total de 5 unidades. "</p>
											<div class="row">
										<div class="col-4">
											<button class="btn btn-primary d-inline" onclick='location.href="/coleccion/cryparisByN"'>Ver colección</button>
										</div>
										<div class="col-4">
											<p style="font-family:calibri;" class="mt-3 d-inline">
											20 de Junio de 2022</p>
										</div>
										{% if app.session.get('username') != '' %}
										<div class="col-4">
											<button id="suscribirse3" class="btn btn-primary d-inline" >Suscribirse</button>
										</div>
										{% else %}
										<div class="col-4">
											<button id="suscribirseNoRegistrado3" class="btn btn-primary d-inline"  >Suscribirse</button>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						{# </a> #}
						<div class="row mt-2" id="cryparis3">

							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('nftBiteiffel.jpg', 'nftBiteiffel')}}" alt="NFT #02">
									<div
										class="card-body">
										{# <p class="card-text">BitEiffel Tower <br>Este es el primer NFT de la colección Cryparis. #01 Colection Cryparis by Cryptoments.</p> #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('nftArcoDelBitcoinByN.jpg', 'nftBiteiffel')}}" alt="NFT #02">
									<div
										class="card-body">
										{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 ">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top mt-3" style='width:250px;height:250px;margin:auto;' src="{{ asset('catedralCryptoments.jpg', 'nftBiteiffel')}}" alt="NFT #03">
									<div
										class="card-body">
										{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>/ #}
										<div class="d-flex justify-content-between align-items-center" style="height:50px;">
											<div class="btn-group">
												{# <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
												<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
											</div>
											<small class="text-muted moneda">0.5 ETH</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>
		</div>
		<footer class="text-muted">
			<div class="container">
				<p class="text-center">
					<a href="#">Volver al inicio</a>
				</p>

			</div>
		</footer>

		<!-- Bootstrap core JavaScript
		    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script>


			$(document).ready(function () {
				{# Accion suscribirse #}
			$('#suscribirseNoRegistrado').hover(function () {
				$('#suscribirseNoRegistrado').text("No registrado");
			}, function () {
				$('#suscribirseNoRegistrado').text("Suscribirse");
			});
			$('#suscribirseNoRegistrado2').hover(function () {
				$('#suscribirseNoRegistrado2').text("No registrado");
			}, function () {
				$('#suscribirseNoRegistrado2').text("Suscribirse");
			});
			$('#suscribirseNoRegistrado3').hover(function () {
				$('#suscribirseNoRegistrado3').text("No registrado");
			}, function () {
				$('#suscribirseNoRegistrado3').text("Suscribirse");
			});
			{# Accion suscribirse #}
			$('#suscribirse').click(function () {
				$.ajax({
					type: "POST",
					dataType: "JSON",
					url: '/col/suscribirse',
					data: {
						coleccion:'1'
					},
					success: function (response) {
						window.alert("Se ha suscrito correctamente");
					},
					error: function (err) {
						console.log("error" + err);
						$("#errorIncidencia").html("Ha habido un fallo en la consulta."+err);
				}
				});
			});

			$('#suscribirse2').click(function () {
				$.ajax({
					type: "POST",
					dataType: "JSON",
					url: '/col/suscribirse',
					data: {
						coleccion:'2'
					},
					success: function (response) {
						window.alert("Se ha suscrito correctamente");
					},
					error: function (err) {
						console.log("error" + err);
						$("#errorIncidencia").html("Ha habido un fallo en la consulta."+err);
				}
				});
			});

			$('#suscribirse3').click(function () {
				$.ajax({
					type: "POST",
					dataType: "JSON",
					url: '/col/suscribirse',
					data: {
						coleccion:'3'
					},
					success: function (response) {
						console.log(response);
						window.alert("Se ha suscrito correctamente");
					},
					error: function (err) {
						console.log("error" + err);
						$("#errorIncidencia").html("Ha habido un fallo en la consulta."+err);
				}
				});
			});

        $('#cryparisContainer').hover(function () {
          $('#cryparis').css({"opacity": "1"});
          $('#info').css({"opacity": "0.95"});
        }, function () {
          $('#cryparis').css({"opacity": "1"});
          $('#info').css({"opacity": "0"});
        });

      $('#cryparisContainer2').hover(function () {
          $('#cryparis2').css({"opacity": "1"});
          $('#info2').css({"opacity": "0.95"});
        }, function () {
          $('#cryparis2').css({"opacity": "1"});
          $('#info2').css({"opacity": "0"});
        });

      $('#cryparisContainer3').hover(function () {
          $('#cryparis3').css({"opacity": "1"});
          $('#info3').css({"opacity": "0.95"});
        }, function () {
          $('#cryparis3').css({"opacity": "1"});
          $('#info3').css({"opacity": "0"});
        });

      });

        
//===
// VARIABLES
//===
const DATE_TARGET = new Date('06/16/2022 0:01 AM');
// DOM for render
const SPAN_DAYS = document.querySelector('span#days');
const SPAN_HOURS = document.querySelector('span#hours');
const SPAN_MINUTES = document.querySelector('span#minutes');
const SPAN_SECONDS = document.querySelector('span#seconds');
// Milliseconds for the calculations
const MILLISECONDS_OF_A_SECOND = 1000;
const MILLISECONDS_OF_A_MINUTE = MILLISECONDS_OF_A_SECOND * 60;
const MILLISECONDS_OF_A_HOUR = MILLISECONDS_OF_A_MINUTE * 60;
const MILLISECONDS_OF_A_DAY = MILLISECONDS_OF_A_HOUR * 24

//===
// FUNCTIONS
//===

/**
 * Method that updates the countdown and the sample
 */
function updateCountdown() {
    // Calcs
    const NOW = new Date()
    const DURATION = DATE_TARGET - NOW;
    const REMAINING_DAYS = Math.floor(DURATION / MILLISECONDS_OF_A_DAY);
    const REMAINING_HOURS = Math.floor((DURATION % MILLISECONDS_OF_A_DAY) / MILLISECONDS_OF_A_HOUR);
    const REMAINING_MINUTES = Math.floor((DURATION % MILLISECONDS_OF_A_HOUR) / MILLISECONDS_OF_A_MINUTE);
    const REMAINING_SECONDS = Math.floor((DURATION % MILLISECONDS_OF_A_MINUTE) / MILLISECONDS_OF_A_SECOND);
    // Thanks Pablo Monteserín (https://pablomonteserin.com/cuenta-regresiva/)

    // Render
    SPAN_DAYS.textContent = REMAINING_DAYS;
    SPAN_HOURS.textContent = REMAINING_HOURS;
    SPAN_MINUTES.textContent = REMAINING_MINUTES;
    SPAN_SECONDS.textContent = REMAINING_SECONDS;
}

    //===
    // INIT
    //===
    updateCountdown();
    // Refresh every second
    setInterval(updateCountdown, MILLISECONDS_OF_A_SECOND);
		</script>
		<footer class="bg-dark">
    <div class="container">
        <div class="row text-center py-3 texto-blanco">
            <div class="col-md-6 font-weight-light">
                <div>Contacto</div>
                <div>Redes Sociales</div>
                <div>F.A.Q</div>
                <div>SmartContract</div>
            </div>
            <div class="col-md-6  font-weight-light">
                <div>Derechos legales Ⓒ</div>
                <div>Tezos Blockchain</div>
                <div>Objtk</div>
                <div>Wallet</div>
            </div>
        </div>
    </div>
</footer>
	</body>
</html>
